snippet template "CP Template" b
#include <bits/stdc++.h>
#define INF 2e18
#define MOD 10000007

using namespace std;

typedef unsigned long long ull;
typedef long long ll;
typedef pair<int,int> ii;

$1

int main(){
    ios_base::sync_with_stdio(false);
    cin.tie(NULL);

	$0

    return 0;
}
endsnippet
